html {
    height: 100%;;
    width: 100%;;
}

   h1{
    color:darkgray;
    text-align: center
   }
    
   body{
    background-color: rgb(0, 0, 0);
   }

   .cats{
     max-width: 200px;
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
   }

   .answerbuttons{
    text-align: center;
    word-spacing: 20px;
   }

   .links{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 15px 16px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:aqua;
   }

   a:hover{ 
    color:white;
    border: 2px solid white;
   }